extends layout

block content
  .message
      p#TryMessage
        | 수고하셨어요 #{name}님!
        br
        | 이제 푹 쉬세요!
        br
        |  
        br
        |             
        br
        br
        | 자동으로 메인 화면으로 돌아갑니다...
        br
        |             
        br

  script(type='text/javascript').
    document.oncontextmenu=function(){return false;} // 우클릭 방지
    document.onselectstart=function(){return false;} // 드래그 방지 
    document.ondragstart=function(){return false;} // 선택 방지
    document.onmousedown=function(){return false;}
    
    var SetTime = 2;
    function msg_time() {
    m = Math.floor(SetTime % 60);
    SetTime--;
    if (SetTime < 0) { clearInterval(tid); location.replace('/return2main'); }
    }
    window.onload = function TimerStart(){ tid=setInterval('msg_time()',2000) };
