extends layout

block content
  p#TryMessage
        | 수고하셨어요! 
        br
        |  
        br
        | #{name}님!
        br
        | 
        br
        |  
        br
        |  
        |             
        br
        br
        br


  input#btnGo(name='btnGo', type='button', value='Good-bye', onclick="location.href='/main'")
  script(type='text/javascript').
    document.oncontextmenu=function(){return false;} // 우클릭 방지
    document.onselectstart=function(){return false;} // 드래그 방지 
    document.ondragstart=function(){return false;} // 선택 방지
    document.onmousedown=function(){return false;}
