extends layout

block content
  h1  본 운동(팔 비대칭 올리기)
  h2  #{name}님!

  input#btnGo(name='btnGo', type='button', value='Good-bye', onclick="location.href='/main'")
  script(type='text/javascript').
    document.oncontextmenu=function(){return false;} // 우클릭 방지
    document.onselectstart=function(){return false;} // 드래그 방지 
    document.ondragstart=function(){return false;} // 선택 방지
    document.onmousedown=function(){return false;}
