extends layout

block content
  h2  #{comment}
  
  p#ViewTimer 
  - var exercise_image = #{image}
  img(src=exercise_image , width='736', height='900', alt="muk-pa")
  img(src='/images/세부소스/버튼/홈-다운.png', width='152', height='113', onclick="location.href='/exercise'")
  
  script(type='text/javascript').
    
    var SetTime = "#{count}";
    function msg_time() {
    m = Math.floor(SetTime % 60);
    var msg =  m ;
    document.all.ViewTimer.innerHTML = msg;
    SetTime--;
    if (SetTime < 0) { clearInterval(tid); location.replace('/exercise_done'); }
    }
    window.onload = function TimerStart(){ tid=setInterval('msg_time()',2000) };
