extends layout

block content
  h1#title
  h2#comment
  
  
  p#ViewTimer
  img(src="",id='image' width='736', height='900', alt="muk-pa")
  img(src="",id='pause', width='152', height='113', onclick="button_click();location.href='/pause'")

  script(type='text/javascript').
    function button_click() {document.getElementById("pause").src = "#{pause_click}"}
    document.getElementById("title").innerHTML="#{title}"
    document.getElementById("comment").innerHTML="#{comment}"
    document.getElementById("image").src = "#{image}"
    document.getElementById("pause").src = "#{pause}"
    var SetTime = "#{count}";
    function msg_time() {
    m=Math.floor(SetTime % 60);
    var msg=m ;
    document.all.ViewTimer.innerHTML=msg;
    SetTime--;
    if (SetTime < 0) { clearInterval(tid); location.replace('/exercise_done'); }
    }
    window.onload = function TimerStart(){ tid=setInterval('msg_time()',1000) };
