extends layout

block content
  h1#title
  h2#comment
  
  h3#discription
  
  p#ViewTimer
  img(src="",id='img' width='736', height='900', alt="muk-pa")
  img(src='/images/세부소스/버튼/홈-다운.png', width='152', height='113', onclick="location.href='/exercise'")
  img(src='/images/세부소스/버튼/일시정지-다운.png', width='152', height='113', onclick="location.href='/pause'")

  script(type='text/javascript').
    document.getElementById("title").innerHTML = "#{title}"
    document.getElementById("comment").innerHTML = "#{comment}"
    document.getElementById("discription").innerHTML = "#{discription}" 
    document.getElementById("img").src = "#{image}"
    var SetTime = "#{count}";
    function msg_time() {
    m = Math.floor(SetTime % 60);
    var msg =  m ;
    document.all.ViewTimer.innerHTML = msg;
    SetTime--;
    if (SetTime < 0) { clearInterval(tid); location.replace('/exercise_done'); }
    }
    window.onload = function TimerStart(){ tid=setInterval('msg_time()',2000) };
