extends layout

block content
  h1= title 
  p 기온 : #{temp}
  p 습도 : #{humi}
  p 소음도 : #{audio}
  p 대략적 소음 : #{env}
  p 조명 : #{light}


  script(type='text/javascript').
    var date = new Date();
    document.write('현재 년: ' + d.getFullYear() + '<br />');
    document.write('현재 월: ' + (d.getMonth() + 1) + '<br />');
    document.write('현재 일: ' + d.getDate() + '<br />');

    document.write('<br />'); // 줄바꿈

    document.write('현재 시: ' + d.getHours() + '<br />');
    document.write('현재 분: ' + d.getMinutes() + '<br />');
    document.write('현재 초: ' + d.getSeconds() + '<br />');

    document.write('<br />');

    document.write('오늘 요일: ' + d.getDay() + '<br />');
    setTimeout("history.go(0);", 1);

