extends layout

block content
    .contents
      h2 이용하시려면 50cm 이내로 가까이 와주세요!  
      script(type='text/javascript').
        var d = new Date();
        document.write("<a id='Date'>" + d.getFullYear() + "년 " + (d.getMonth() + 1) + "월 " + d.getDate() + "일 </a>");
        document.write(d.getHours() + " : " + m);
      |     &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      |     
      a#TmpHmi  #{temp}℃  / #{humi}
      |     
      script(type='text/javascript').
        var d = new Date();
        var m = 0;
        if (d.getMinutes() < 10) {
        m = "0" + d.getMinutes().toString();
        } else {
        m = d.getMinutes().toString();
        }
        document.write("<a id='Time'>" + d.getHours() + ":" + m + "</a>");
        setTimeout("history.go(0);", 1000);

      |     &nbsp; &nbsp;
      |     
      img(src='/images/세부소스/날씨/맑음.png', width='70', height='76', alt='')
      |  &nbsp; /&nbsp; 
      img(src='/images/세부소스/날씨/맑음.png', width='70', height='76', alt='')
      |     
      br
      |     
      img(src='/images/SCAN_20170717_120222551.jpg', width='546', height='772', alt='')

      script(type='text/javascript').
        document.oncontextmenu=function(){return false;} // 우클릭 방지
        document.onselectstart=function(){return false;} // 드래그 방지 
        document.ondragstart=function(){return false;} // 선택 방지
        document.onmousedown=function(){return false;}

