extends layout

block content
  h1= title 
  p 기온 : #{temp}
  p 습도 : #{humi}
  p 소음도 : #{audio}
  p 대략적 소음 : #{env}
  p 조명 : #{light}
  p 거리 : #{distance}

  script(type='text/javascript').
    var day = new Date();
    document.write('DAY: ' + day.getFullYear() + ' ');
    document.write(' : ' + (day.getMonth() + 1) + ' ');
    document.write(' : ' + day.getDate() + ' ');
    document.write('<br />'); 
    document.write('TIME: ' + day.getHours() + ' ');
    document.write(' : ' + day.getMinutes() + ' ');
    document.write(' : ' + day.getSeconds() + ' ');
    document.write('<br />');
    setTimeout("history.go(0);", 2000);


  input#btnRefresh(name='refresh', type='button', value='새로고침', onclick="location.href='/main'")
  input#btntry(name='btnNo', type='button', value='인식하기', onclick="location.href='/try'")



