extends layout

block content
    .contents
      h4 개통이 필요합니다.
      script(type='text/javascript').
        var d = new Date();
        document.write("<a id='Date'>" + d.getFullYear() + "년 " + (d.getMonth() + 1) + "월 " + d.getDate() + "일 </a>");
        document.write(d.getHours() + " : " + m);
      |     &nbsp; &nbsp;&nbsp;&nbsp;
      |     
      a#TmpHmi  #{temp}℃  / #{humi}
      |     
      script(type='text/javascript').
        var d = new Date();
        var m = 0;
        if (d.getMinutes() < 10) {
        m = "0" + d.getMinutes().toString();
        } else {
        m = d.getMinutes().toString();
        }
        document.write("<a id='Time'>" + d.getHours() + ":" + m + "</a>");
        setTimeout("history.go(0);", 1000);

      |     &nbsp; 
      |     
      img(src='',id='sunny', width='70', height='76', alt='')
      |  &nbsp; /&nbsp; 
      img(src='',id='sunny1', width='70', height='76', alt='')
      |     
      br
      |     
      img(src='',id='poster', width='546', height='772', alt='')

      script(type='text/javascript').
        document.oncontextmenu=function(){return false;} // 우클릭 방지
        document.onselectstart=function(){return false;} // 드래그 방지 
        document.ondragstart=function(){return false;} // 선택 방지
        document.onmousedown=function(){return false;}
        document.getElementById("img").src = "#{image}"
        document.getElementById("poster").src = "#{poster}"
        document.getElementById("sunny").src = "#{sunny}"
        document.getElementById("sunny1").src = "#{sunny}"

