extends layout

block content
  .message
      p#TryMessage
        |  
        br
        |  
        br
        | 일시정지 하였습니다! 
        br
        | 무엇을 하시겠어요?
        br
        |  
        br
        |  
        |             
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        |  계속하기
        |             &nbsp; &nbsp; &nbsp;그만하기
        br         
        img(src='',id='back', width='152', height='113', onclick="location.href='/exercise'")
        |  &nbsp; &nbsp; &nbsp;
        |         &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        |         
        img(src='',id='pause', width='152', height='113', onclick="location.href='/pause_end'")
      script(type='text/javascript').
        document.oncontextmenu=function(){return false;} // 우클릭 방지
        document.onselectstart=function(){return false;} // 드래그 방지 
        document.ondragstart=function(){return false;} // 선택 방지
        document.onmousedown=function(){return false;}
        document.getElementById("back").src = "#{back}"
        document.getElementById("pause").src = "#{pause}"        