extends layout

block content
  .message
      p#TryMessage
        | 병원에만 있기에는 
        br
        | 너무 답답하시죠? 
        br
        |  
        br
        | 기분 전환도 할 겸,
        br
        | 굳은 몸도 풀어볼 겸
        br
        | 프로그램에 참여해볼까요?
        |             
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        |  돌아가기
        |             &nbsp; &nbsp; &nbsp;참여하기
        br         
        img(src='',id='back', width='152', height='113', onclick=" location.href='/return2main'")
        |  &nbsp; &nbsp; &nbsp;
        |         &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        |         
        img(src='',id='foward', width='152', height='113', onclick=" location.href='/identify'")
      script(type='text/javascript').
        document.oncontextmenu=function(){return false;} // 우클릭 방지
        document.onselectstart=function(){return false;} // 드래그 방지 
        document.ondragstart=function(){return false;} // 선택 방지
        document.onmousedown=function(){return false;}
        document.getElementById("back").src = "#{back}"
        document.getElementById("foward").src = "#{foward}"        