extends layout

block content
 .message
      p#TryMessage
        br
        |  
        br
        |  안녕하세요!
        |  #{name}님!           
        br
        br
        |  
        |  
        |  #{exercise_done}%만큼 운동하셨고,
        |  #{stepcount}걸음 걸으셨어요!
        br
        br
          .h_graph
                ul
                  li
                    span.g_term 운동 프로그램 달성률
                    span.g_bar(style='width:0%')
                      span 0%
                  |             
                  li
                    span.g_term 총 누적 걸음 수
                    span.g_bar(style='width:20%')
                      span 20%
        br          
        br  
        |  
        |  꾸준히 열심히 하셨네요!
        br
        |  같이 운동을 시작해볼까요?
        br
        br
        br
        br
        |  돌아가기
        |             &nbsp; &nbsp; &nbsp;운동하기
        br         
        img(src='',id='back', height='113', onclick="location.href='/return2main'")
        |  &nbsp; &nbsp; &nbsp;
        |         &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        |         
        img(src='',id='foward', width='152', height='113', onclick="location.href='/exercise'")

      script(type='text/javascript').
        document.oncontextmenu=function(){return false;} // 우클릭 방지
        document.onselectstart=function(){return false;} // 드래그 방지 
        document.ondragstart=function(){return false;} // 선택 방지
        document.onmousedown=function(){return false;}
        document.getElementById("back").src = "#{back}"
        document.getElementById("foward").src = "#{foward}"        