extends layout

block content
 .message
      p#TryMessage
        br
        |  
        br
        |  환영합니다!
        |             
        br
        br
        |  #{name}님!
        br
        |  
        br
        |  
        br
        |             
        br
        br
        | 운동을 시작해볼까요?
        br
        br
        br
        br
        br
        br
        |  돌아가기
        |             &nbsp; &nbsp; &nbsp;운동하기
        br         
        img(src='/images/세부소스/버튼/뒤로-다운.png', width='152', height='113', onclick="location.href='/main'")
        |  &nbsp; &nbsp; &nbsp;
        |         &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        |         
        img(src='/images/세부소스/버튼/앞으로-다운.png', width='152', height='113', onclick="location.href='/exercise'")

      script(type='text/javascript').
        document.oncontextmenu=function(){return false;} // 우클릭 방지
        document.onselectstart=function(){return false;} // 드래그 방지 
        document.ondragstart=function(){return false;} // 선택 방지
        document.onmousedown=function(){return false;}
